body {
  background-color: rgb(255, 255, 255);
  font: 300 0.938em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.element {
  width: 100px;
  height: 100px;
  margin: 25px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: right;
  width: 20%;
  height: 40px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 0.933em;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  float: left;
  width: 48.5119047619%;
  height: 50px;
  margin-top: 11px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 0.867em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

._textarea {
  display: block;
  width: 100%;
  height: 274px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 0.933em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  resize: none;
}

.container-1 {
  float: left;
  width: 80%;
  min-height: 600px;
  margin-left: 10%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: center center;
}

.container-2 {
  float: left;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 10px;
}

.container-3 {
  width: 100%;
  margin: 0 auto;
}

.container-4 {
  position: relative;
  float: left;
  width: 30.0595238095%;
  padding-bottom: 20px;
}

.container-5,
.container-6 {
  float: left;
  width: 30.0595238095%;
  margin-left: 2.9971199999%;
  padding-bottom: 20px;
}

.container-7 {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.container-8 {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.element-1 {
  background-image: url('../images/adress.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-2 {
  background-image: url('../images/phone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-3 {
  background-image: url('../images/email.png'), url('../images/adress.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center center, center center;
  background-attachment: scroll, scroll;
}

.text-1 {
  margin-top: 50px;
  font-size: 2em;
  font-weight: 700;
}

.text-2 {
  margin-top: 1px;
  font-size: 1em;
}

.text-3,
.text-4 {
  margin-top: 29px;
  font-size: 1.333em;
}

.text-5 {
  margin-top: 32px;
  font-size: 1.2em;
}

.container ._input-2 {
  margin-left: 2.9738699999%;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1024px) {
  body {
    font-size: 0.813em;
  }

  .container ._button {
    font-size: 1.077em;
  }

  .container ._input {
    font-size: 1em;
  }

  .container ._textarea {
    font-size: 1.077em;
  }

  .container .container-2 {
    margin-left: 14.99962%;
  }

  .container .container-5,
  .container .container-6 {
    margin-left: 2.99191%;
  }

  .container .text-1 {
    font-size: 2.154em;
  }

  .container .text-2 {
    font-size: 13px;
  }

  .container .text-3,
  .container .text-4 {
    font-size: 1.385em;
  }

  .container .text-5 {
    font-size: 1.231em;
  }

  .container-1 {
    margin-left: 9.99756%;
  }

  .container ._input-2 {
    margin-left: 2.97011%;
  }
}

@media(max-width: 910px) {
  .container .element {
    width: 90px;
    height: 90px;
  }

  .container ._input {
    height: 45px;
    font-size: 0.923em;
  }

  .container ._textarea {
    height: 250px;
    font-size: 1em;
  }

  .container .container-2 {
    margin-left: 14.99828%;
  }

  .container .container-5,
  .container .container-6 {
    margin-left: 2.9925799999%;
  }

  .container .text-3,
  .container .text-4 {
    font-size: 1.231em;
  }

  .container .text-5 {
    font-size: 1.077em;
  }

  .container-1 {
    margin-left: 9.99828%;
  }

  .container ._input-2 {
    margin-left: 2.97112%;
  }
}

@media(max-width: 750px) {
  body {
    font-size: 0.75em;
  }

  .container .element {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-right: 0;
  }

  .container ._button {
    height: 30px;
    font-size: 1em;
  }

  .container ._input {
    width: 38%;
    height: 40px;
    margin-top: 10px;
    font-size: 1em;
  }

  .container ._textarea {
    width: 80%;
    height: 200px;
    font-size: 12px;
  }

  .container .container-2 {
    float: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .container-4 {
    float: none;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
  }

  .container .container-5,
  .container .container-6 {
    float: none;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .container-8 {
    width: 80%;
  }

  .container .element-1 {
    margin-left: 9.99517%;
  }

  .container .element-2,
  .container .element-3 {
    margin-left: 9.99283%;
  }

  .container .text-1 {
    margin-top: 40px;
    font-size: 2.167em;
  }

  .container .text-2 {
    width: 80%;
    margin-top: 0;
    font-size: 12px;
  }

  .container .text-3 {
    float: right;
    width: 50%;
    margin-top: 30px;
    margin-right: 9.99517%;
    margin-left: 0;
    font-size: 1.333em;
  }

  .container .text-4 {
    float: right;
    width: 50%;
    margin-top: 30px;
    margin-right: 9.99283%;
    margin-left: 0;
    font-size: 1.333em;
  }

  .container .text-5 {
    float: right;
    width: 50%;
    margin-top: 30px;
    margin-right: 9.99283%;
    margin-left: 0;
    font-size: 1.25em;
  }

  .container-1 {
    margin-left: 10%;
    background-attachment: fixed;
  }

  .container ._input-1 {
    margin-left: 10%;
  }

  .container ._input-2 {
    float: right;
    margin-right: 10%;
    margin-left: 0;
  }
}

@media(max-width: 510px) {
  body {
    font-size: 0.563em;
  }

  .container .element {
    width: 60px;
    height: 60px;
  }

  .container ._button {
    height: 25px;
    font-size: 1.111em;
  }

  .container ._input {
    float: none;
    width: 80%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.111em;
  }

  .container ._textarea {
    height: 150px;
    font-size: 1.111em;
  }

  .container .element-1 {
    margin-left: 9.98641%;
  }

  .container .element-2 {
    margin-left: 10%;
  }

  .container .element-3 {
    margin-left: 9.98884%;
  }

  .container .text-1 {
    font-size: 2.222em;
  }

  .container .text-2 {
    font-size: 9px;
  }

  .container .text-3 {
    margin-right: 9.98641%;
    font-size: 12px;
  }

  .container .text-4 {
    margin-right: 10%;
    font-size: 12px;
  }

  .container .text-5 {
    margin-right: 9.98884%;
    font-size: 1.222em;
  }
}